@import url('https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap');
body, html {
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.container { 
  /* The image used */
  background-image: url("hustle.jpg");

  /* Full height */
  height: 100%; 
  padding: 0px;
  margin: 0px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h3{
  font-family: 'Bungee Inline', cursive;
  color: azure;
  text-align: center;
  padding-top: 15px;
}
h4{
  font-family: 'Bungee Inline', cursive;
  color: azure;
  text-align: center;
  padding-top: 5px;
}